@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

* {
    font-family: 'Single Day', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #836FFF;
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    background-color: white;
    padding: 1.5rem;
    gap: 5rem;
    align-items: center;
    flex-wrap: wrap;
}

header > h1 > a {
    text-decoration: none;
    color: black
}

header > form {
    display: flex;
    flex-grow: 1;
}

header > form > input[type="search"],
header > form > button[type="submit"] {
    border: .1rem solid #777;
    border-radius: .5rem;
    padding: .5rem;
}

header > form > input[type="search"] {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

header > form > input[type="search"]:active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

header > form > button[type="submit"] {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    background-color: #eaeaea;
}

header > form > button[type="submit"]:hover {
    background-color: #777;
    color: white;
}

header > nav {
    display: flex;
    gap: 5rem;
    align-items: flex-start;
}

header > nav > menu {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

header > nav > menu > li {
    list-style: none;
}

header > nav > menu > li > a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

header > nav > button.account {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: .5rem;
}

button[type="button"]:hover {
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    min-width: 5rem;
    box-shadow: 0 4px 20px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    top: 9vh;
    width: 10vw;
}

.account:hover .submenu, .submenu:hover {
    display: block;
}

a[href="login.html"] {
    text-decoration: none;
    color: black;
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: .5em;
}

footer {
    color: #F0F3FF;
}

footer {
    text-align: center;
    padding: 3rem;
    background-color: var(--primary);
}

.animate:hover {
    background-color: red;
    transform: rotateY(360deg);
    transition: 2s;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.material-symbols-outlined-filled {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}